body {
  font-family: "Poppins";
  background-color: #eee;
  padding: 0px;
  margin: 0px;
  /* background-image: url("../assets//background.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  */
}

p {
  padding: 0px;
  margin: 0px;
}

/* general styles */
/* .button {
  background-color: #4285f4;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
} */
.button:active {
  background-color: #007aff;
}
.mirror {
  transform: scaleX(-1);
}

header {
  width: 97vw;
}

/* main container styles */
#main {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 8% auto 9%;
  grid-template-columns: 30% auto;
  grid-template-areas:
    "top top"
    "vid msg"
    "vid inp";
  font-family: "Poppins";
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 12px 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 12px 12px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo img {
  display: block;
  height: 156px;
  width: auto;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 46px;
}

.people-online p {
  font-size: 16px;
  color: #606060;
}

.people-online span {
  color: #5ab581;
  font-weight: 600;
}

.feedback-button {
  background-color: #3884d6;
  color: white;
  border: none;
  padding: 12px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: "Poppins";
}

.feedback-button:hover {
  background-color: #0056b3;
}

/* video container */
#videos {
  grid-area: vid;
  margin: 10px;
  margin-right: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

#self {
  overflow: hidden;
  margin-top: 5px;
}
#peer {
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
}
#peer img {
  position: absolute;
  /* width: 25%; */
  /* height: 150px; */
  width: 130px;
  left: 18px;
  bottom: -20px;
  z-index: 10;
  opacity: 0.7;
}

.video-player {
  width: 100%;
  height: 100%;
  background-color: #666;
  object-fit: cover;
  border-radius: 12px;
}

#peer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#peer-video-loader {
  position: absolute;
  aspect-ratio: 1;
  width: 25%;
  border-radius: 50%;
  display: inline-block;
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/* message area */
#message-area {
  background: #fff;
  grid-area: msg;
  margin: 8px;
  padding: 10px;
  overflow-y: auto;
  font-size: 20px;
}

.message-status {
  margin: 8px;
  margin-bottom: 16px;
  font-weight: bold;
}

.message {
  margin: 8px;
}

.message .you {
  color: #4285f4;
}

.message .strange {
  color: #4caf50;
}

/* input area */
#input-area {
  grid-area: inp;
  display: flex;
  padding: 0;
  padding-bottom: 6px;
  min-width: 0;
}

#skip-btn {
  border-radius: 6px;
  padding-top: 14px;
  padding-right: 32px;
  padding-bottom: 14px;
  padding-left: 32px;
  color: white;
  background-color: #4285f4;
  border: none;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  :hover {
    background-color: #007aff;
  }
}
#skip-btn span {
  display: block;
  font-size: 12px;
  min-width: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #d8dadc;
  border-radius: 2px;
  font-size: 20px;
  min-width: 0;
  padding: 16px;
}

#send-btn {
  border-radius: 6px;
  padding-top: 14px;
  padding-right: 32px;
  padding-bottom: 14px;
  padding-left: 32px;
  color: white;
  background-color: #4285f4;
  border: none;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  :hover {
    background-color: #007aff;
  }
}
#send-btn span {
  display: block;
  font-size: 12px;
  min-width: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* feedback popup */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#feedbackText {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  resize: vertical;
}
#submit-btn {
  padding: 10px 20px;
}

#help-text {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
  color: #202020;
  margin-top: 10px;
}
.or-text {
  font-size: 18px;
  color: #202020;
  text-align: center;
}

@media (max-width: 1000px) {
  .modal-content {
    width: 50%;
  }
}

@media (max-width: 1366px) {
  /* main container styles */
  #main {
    grid-template-columns: 35% auto;
  }

  /* message area */
  .message-status {
    font-size: 18px;
  }
  .message {
    font-size: 16px;
  }

  /* input area */
  #input-area {
    box-sizing: border-box;
    overflow: hidden;
  }
  #skip-btn {
    padding: 5px 30px;
    font-size: 16px;
  }
  #send-btn {
    padding: 5px 30px;
    font-size: 16px;
  }
  #message-input {
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 8px;
  }
}

@media (max-width: 800px) {
  /* main container styles */
  #main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8% 40% auto 7%;
    grid-template-areas:
      "top"
      "vid"
      "msg"
      "inp";
  }

  /* top bar styles */
  #top-bar {
    padding: 10px;
    align-items: center;
  }
  #logo h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0px;
  }
  #peopleOnline p {
    font-size: 16px;
  }
  #feedback-btn {
    margin: 0;
    padding: 8px;
    background-color: #4caf50; /* Green */
  }

  /* video container */
  #videos {
    margin: 10px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }
  #self {
    margin: 0;
    margin-left: 5px;
    overflow: hidden;
  }
  #peer {
    margin: 0;
    margin-right: 5px;
    overflow: hidden;
  }

  /* input area */
  #input-area {
    box-sizing: border-box;
    overflow: hidden;
  }
  #skip-btn {
    padding: 5px 30px;
    font-size: 16px;
  }
  #send-btn {
    display: none;
  }
  #message-input {
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 8px;
  }

  .modal-content {
    width: 70%;
  }
}

@media (max-width: 550px) {
  /* video container */
  #videos {
    margin: 10px;
    grid-template-rows: 1fr 0fr;
    grid-template-columns: auto;
    position: relative;
  }
  #self {
    margin: 0;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    width: 25%;
    bottom: 5px;
    right: 10px;
  }
  #video-self {
    border: 1px solid #888;
    border-radius: 5%;
  }
  #peer {
    margin: 0;
    overflow: hidden;
  }
}

@media (max-width: 416px) {
  #peopleOnline p {
    margin: 10px;
    margin-right: 0px;
  }
  #feedback-btn {
    display: none;
  }

  #ad-container {
    display: none;
  }
}
